###                     #python

In [2]:
#1sum of 2 numbers
a=5
b=6
print("sum of a and b:", a+b)

sum of a and b: 11

In [3]:
#2find remainder
a=9
b=2
print("remainder of a and b:", a%b)

remainder of a and b: 1

In [4]:
#3use comparison operator
a=15
b=16
a>b

False

In [5]:
#4avg of 2 numbers
a=input("enetr first number:")
a=int(a)
b=input("enter second number:")
b=int(b)
avg=(a+b)/2
print("average of 2 numbers is",avg)

enetr first number:5
enter second number:10
average of 2 numbers is 7.5

In [6]:
#5find class of vaiable
a=input("enter number")
print(a)
print(type(a))

enter number15
15
<class 'str'>

In [7]:
a=int(a)
print(type(a))

<class 'int'>

In [9]:
#6square of number
a=input("enter a number:")
a=int(a)
sqr=a**2
print("square of a:",sqr)

enter a number:5
square of a: 25

In [10]:
#cube of number
a=input("enter a number:")
a=int(a)
cube=a**3
print("cube of a:",cube)

enter a number:2
cube of a: 8

In [14]:
#concatening 2 strings 
a="pranay"
b="shinde"
c=a+b
print(c)

pranayshinde

In [4]:
#string slicing
a='pranay'    #p=0,r=1,a=2,.....or  y=-1,a=-2,n=-3,....
print(a[-4:-1])

ana

In [7]:
#slicing with skip value
a='pranayrameshshinde'
b=a[0::3]
print(b)

pnresn

In [1]:
#string functions
#1)len()
a="pranay Ramesh Shinde"
print(len(a))

20

In [5]:
#2)endswith()
print(a.endswith("de"))

True

In [7]:
#3)count()
print(a.count("a"))

3

In [9]:
#4)capitalize()
print(a.capitalize())

Pranay ramesh shinde

In [11]:
#5)find()
print(a.find("r"))

1

In [12]:
#6)replace()
print(a.replace("Ramesh","Rajashree"))

pranay Rajashree Shinde

In [18]:
#escape Sequence Characters
a="pranay ramesh Shinde.\nstudying \tEngineering \nlike\'s cricket\\football"
print(a)

pranay ramesh Shinde.
studying 	Engineering
like's cricket\football

In [3]:
#7display user enter name followed by good morning 
a=input("enter your name\n")
print("Good morning,",a)   #or print("Good morning, " +a)

enter your name
pranay
Good morning, pranay

In [32]:
#8 To fill letter template or custmize letter
letter=''''Dear <|NAME|>,
Greetings from ABC coding house.Iam happy to tell you about your selection
You are selected!
Haveagreat day ahead!
Thanks and regards,
Bill
Date:<|DATE|>'''
a=input("enter your name\n")
b=input("enter date")
letter=letter.replace("<|NAME|>",a)
letter=letter.replace("<|DATE|>",b)
print(letter)

enter your name
Pranay
enter date31-07-2022
'Dear Pranay,
Greetings from ABC coding house.Iam happy to tell you about your selection
You are selected!
Haveagreat day ahead!
Thanks and regards,
Bill
Date:31-07-2022

In [44]:
#9 TO detect duouble spaces and replace it with single space
a="pranay  Shinde"
b=a.find("  ")
print(b)

6

In [45]:
a="pranay  Shinde"
a=a.replace("  "," ")
print(a)

pranay Shinde

In [46]:
# examples of module 
import os
print(os.listdir())  #give name of folder

['.cfx', '.conda', '.condarc', '.continuum', '.cxlayout.ini', '.flrecent', '.fluentconf', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '3D Objects', 'anaconda3', 'AppData', 'AppDat_STEP_R.log', 'Application Data', 'Contacts', 'Cookies', 'Desktop', 'Documents', 'Downloads', 'Favorites', 'file.avi', 'file.db', 'file.dbb', 'file.DSP', 'file.esav', 'file.ldhi', 'file.mntr', 'file.mode', 'file.rdb', 'file.rst', 'file0.err', 'file0.esav', 'file0.full', 'file0.log', 'file0.mode', 'file0.r001', 'file0.rst', 'file0.stat', 'file1.err', 'file1.esav', 'file1.full', 'file1.mode', 'file1.out', 'file1.r001', 'file1.rst', 'IntelGraphicsProfiles', 'Links', 'Local Settings', 'Music', 'My Documents', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TM.blf', 'NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'Pictures', 'PrintHood', 'python harry.ipynb', 'Recent', 'Saved Games', 'Searches', 'SendTo', 'Start Menu', 'Templates', 'Untitled.ipynb', 'Untitled1.ipynb', 'Videos']

In [3]:
#lists 
a=["pranay","apple",7,True,8.5]
print(a)

['pranay', 'apple', 7, True, 8.5]

In [6]:
#methods of lists
#sort
a=[5,15,40,2,1,3]
print(a)
a.sort()
print(a)

[5, 15, 40, 2, 1, 3]
[1, 2, 3, 5, 15, 40]

In [7]:
#reverse
a=[5,15,40,2,1,3]
a.reverse()
print(a)

[3, 1, 2, 40, 15, 5]

In [9]:
#append
a=[5,15,40,2,1,3]
a.append(50)
print(a)

[5, 15, 40, 2, 1, 3, 50]

In [10]:
#insert
a=[5,15,40,2,1,3]
a.insert(0,10)
print(a)

[10, 5, 15, 40, 2, 1, 3]

In [8]:
#pop
a=[5,15,40,2,1,3]
a.pop(0)
print(a)

[15, 40, 2, 1, 3]

In [5]:
#remove
a=[5,15,40,2,1,3]
a.remove(15)
print(a)

[5, 40, 2, 1, 3]

In [ ]:
#for more list methods visit list methods oython docs on google

In [13]:
#Tuples
a=(5,10,40)
print(a)

(5, 10, 40)

In [17]:
#tuple methods
#count
a=(5,10,40,4.5,4,5,7,5,5)
b=a.count(5)
print(b)

4

In [18]:
#index
c=a.index(40)
print(c)

2

In [2]:
#10 store 3 fruits in a lists enter by user
a=input("enter first fruit: ")
b=input("enter second fruit: ")
c=input("enter third fruit: ")
d=[a,b,c]
print(d)

enter first fruit: apple
enter second fruit: mango
enter third fruit: orange
['apple', 'mango', 'orange']

In [3]:
#11 accept marks of 3 students and arrange them in sorted manner
m1=int(input("enter marks of student 1: "))
m2=int(input("enter marks of student 2: "))
m3=int(input("enter marks of student 3: "))
marks=[m1,m2,m3]
marks.sort()
print(marks)

enter marks of student 1: 12
enter marks of student 2: 5
enter marks of student 3: 87
[5, 12, 87]

In [6]:
#12 tuple cant change in python(show error)
a=(1,5,4,7)
a[0]=8

TypeError: 'tuple' object does not support item assignment

In [7]:
#13 prinnt sum of list pf 4 numbers
a=[10,20,30,40]
print(sum(a))

100

In [8]:
#or
a=[10,20,30,40]
print(a[0]+a[1]+a[2]+a[3])

100

In [12]:
#14 count no. of zeros in tuples
a=(7,0,8,0,0,9)
b=a.count(0)
print(b)

3

In [40]:
#Dictionary 
a={
    "name":"Pranay",
    "marks":92,
    "b":[10,20,30],                #b key contains values as list
    "name":{"pranay":"shinde"}
  }
print(a['marks'])

92

In [26]:
print(a['name']['pranay'])

shinde

In [27]:
#dictionary methods
#1) Keys
a={
    "name":"Pranay",
    "marks":91,
    "list":[10,20,30],
    "name":{"pranay":"shinde"}
  }
print(a.keys())

dict_keys(['name', 'marks', 'list'])

In [41]:
#2) values
print(a.values())

dict_values([{'pranay': 'shinde'}, 92, [10, 20, 30]])

In [42]:
#3)items
print(a.items())

dict_items([('name', {'pranay': 'shinde'}), ('marks', 92), ('b', [10, 20, 30])])

In [43]:
#4)update
print(a)
updateA={
          "mother":"rajashree",
           "bowler":"steyn",
           "marks":50
         }
a.update(updateA)
print(a)

{'name': {'pranay': 'shinde'}, 'marks': 92, 'b': [10, 20, 30]}
{'name': {'pranay': 'shinde'}, 'marks': 50, 'b': [10, 20, 30], 'mother': 'rajashree', 'bowler': 'steyn'}

In [44]:
#5) get
print(a.get("bowler"))

steyn

In [45]:
print(a.get("batsman"))

None

In [47]:
print(a['bowler'])

steyn

In [48]:
print(a['batsman'])                # if we use .get then we dont get error even if key is not present in dictionary

KeyError: 'batsman'

In [4]:
# Sets
#sets Methods
#add
s={4,5,6}
s.add(1)
s.add(2)
s.add(3)
s.add(2)
print(s)

{1, 2, 3, 4, 5, 6}

In [5]:
#length
print(len(s))

6

In [10]:
#remove
s={1,2,3,4,5,6}
s.remove(5)
print(s)

{1, 2, 3, 4, 6}

In [12]:
#pop
print(s.pop())    #removoes any arbitary value

2

In [14]:
#clear
s.clear()      #empty the set & give empty set ,set()
print(s)

set()

In [1]:
#15 create dictonary with keys as english words and values as their meaning in marathi. provide user an pption to look at it 
Dict={"name":"naw",
      "ball":"chendu",
      "runs":"dhawa"
    }
a=input("enter english word :\n")
print("options are:",Dict.keys())
print("meaning in marathi is: ",Dict[a])

enter english word :
runs
options are: dict_keys(['name', 'ball', 'runs'])
meaning in marathi is:  dhawa

In [10]:
#16 
s={18,"18",18.0}
print(s)

{18, '18'}

In [7]:
#17 create a dctionary which allow user to enter their fav language as value and ther names as key.
a=input("enter your fav lanuage pranay\n")
b=input("enter your fav lanuage alka\n")
c=input("enter your fav lanuage ramesh\n")
d=input("enter your fav lanuage roshan\n")
favLang={}
favLang['pranay']=a
favLang['alka']=b
favLang['ramesh']=c
favLang['roshan']=d
print(favLang)

enter your fav lanuage pranay
c
enter your fav lanuage alka
c+
enter your fav lanuage ramesh
python
enter your fav lanuage roshan
java
{'pranay': 'c', 'alka': 'c+', 'ramesh': 'python', 'roshan': 'java'}

In [10]:
#conditional statements
#if elif else
a=int(input('enter your age\n'))
if(a>=18):
    print('yes')
else:
    print('no')

enter your age
18
yes

In [2]:
#18 enter a 4 numbers and find greatest
num1=(int(input("enter number 1:\n")))
num2=(int(input("enter number 2:\n")))
num3=(int(input("enter number 3:\n")))
num4=(int(input("enter number 4:\n")))

if(num1>num2):
    a=num1
else:
    a=num2

if(num3>num4):
    b=num3
else:
    b=num4

if(a>b):
    print(a,"is greatest")
else:
    print(b,"is greatest")

enter number 1:
15
enter number 2:
40
enter number 3:
10
enter number 4:
5
40 is greatest

In [3]:
#  19 programm to find student pass or fail in 3 subjects. criteria for passing is greater than 33 marks 
# in each subject and total percentage of marks is greater than 40
a=int(input("enter marks of first subject\n"))
b=int(input("enter marks of second subject\n"))
c=int(input("enter marks of third subject\n"))
if(a<33 or b<33 or c<33):
    print("you are fail because of less marks than 33")
elif(a+b+c/3<40):
    print("you are fail because of total percentage is less than 40")
else:
    print("congrats , you are pass")

enter marks of first subject
40
enter marks of second subject
50
enter marks of third subject
60
congrats , you are pass

In [1]:
# 20 define spam comments if following words are present in text - make a lot of money, buy now ,subscribe this, click this
a=input("enter the text\n")
if("make a lot of money" in a):
    print("it is spam")
elif("buy now" in a):
    print("it is spam")
elif("subscribe this" in a):
    print("it is spam")
elif("click this" in a):
    print("it is spam")
else:
    print("it is not spam")
    
    
#or you can use following code
# a=input("enter the text\n")
# if("make a lot of money" in a):
#     spam=True
# elif("buy now" in a):
#     spam=True
# elif("subscribe this" in a):
#     spam=True
# elif("click this" in a):
#     spam=True
# else:
#     spam=False
# if(spam):
#     print("It is spam")
# else:
#     print("It is not spam")

enter the text
subscribe this channel
it is spam

In [11]:
#21 username contain less than 10 characters
a=input("enter username\n")
if(len(a)>=10):
    print("incorrect username")
else:
    print("correct username")

enter username
svbs
correct username

In [4]:
#22 to find given name present in list or not
a=['pranay', 'vaibhav', 'padya', 'bhai', 'rushi', 'tushar','omkar']
b=input("please enter name\n")
if(b in a):
    print("name is in list")
else:
    print("name is not in list")

please enter name
bhai
name is in list

In [10]:
#23 find grade of a student
a=int(input("please enter marks\n"))
if(a>=90):
    grade="Ex"
elif(a>=80):
    grade="A"
elif(a>=70):
    grade="B"
elif(a>=60):
    grade="C"
elif(a>=50):
    grade="D"
else:
    grade="F"
print('your grade is '+grade)

please enter marks
35
your grade is F

In [31]:
#24 post talking about pranay or not
a=input("enter post\n")
if('pranay' in a):
    print('post is talking about pranay')
else:
    print('post is not talking about pranay')

enter post
pranay
post is talking about pranay

In [25]:
a="pranay"
print(a.upper())

PRANAY

In [1]:
# While loop (while= astana)
#print 1 to 50
i=1
while i<=50:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [4]:
# print name 5 times
i=1
while i<=5:
    print("pranay")
    i=i+1

pranay
pranay
pranay
pranay
pranay

In [7]:
# print list using while loop
name=["pranay","vishal","tejas"]
i=0
while i<len(name):
    print(name[i])
    i=i+1

pranay
vishal
tejas

In [19]:
#for loop
name=['pranay','vishal','tej']
for item in name:
    print(item)

pranay
vishal
tej

In [25]:
#range function
for i in range(10):         
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(1,10,2):                  #1=start, 10=end, 2=stepsize
    print(i)

1
3
5
7
9

In [24]:
#for loop with else 
l=[1,5,4]
for item in l:
    print(item)
else:
    print("pranay")

1
5
4
pranay

In [26]:
#break statement
for i in range(10):
    print(i)
    if i==5:
        break

0
1
2
3
4
5

In [1]:
#continue statement
for i in range(10):
    print(i)
    if i==5:
        continue

0
1
2
3
4
5
6
7
8
9

In [32]:
#pass statement
i=0
if i<0:
    pass
print("pranay")

pranay

In [1]:
#25 Multiplication table of given table using for loop
a=int(input("please enter number\n"))
for i in range(1,11):
    print(str(a)+ "×"+str(i)+"="+str(a*i))

please enter number
5
5×1=5
5×2=10
5×3=15
5×4=20
5×5=25
5×6=30
5×7=35
5×8=40
5×9=45
5×10=50

In [37]:
#or 
#25 Multiplication table of given table using for loop
a=int(input("please enter number\n"))
for i in range(1,11):
    print(f"{a}×{i}={a*i}")

please enter number
4
4×1=4
4×2=8
4×3=12
4×4=16
4×5=20
4×6=24
4×7=28
4×8=32
4×9=36
4×10=40

In [9]:
#26 to greet person in list whose name starts with r
l=["pranay","ramesh","rajashree","roshan","roshani"]
for name in l:
    if name.startswith("r"):
        print("Hello "+name)

Hello ramesh
Hello rajashree
Hello roshan
Hello roshani

In [3]:
#26 Multiplication table of given table using while loop
a=int(input("please enter number\n"))
i=1
while i<11:
    print(f"{a}×{i}={a*i}")
    i=i+1

please enter number
5
5×1=5
5×2=10
5×3=15
5×4=20
5×5=25
5×6=30
5×7=35
5×8=40
5×9=45
5×10=50

In [3]:
#27 find given number is prime or not
a=int(input("please enter number\n"))
for i in range(2,a):
    if a%i==0:
        print("given number is not prime")
        break
else:
    print("given number is prime")

please enter number
6434
given number is not prime

In [16]:
#28 find sum of first n natural numbers
a=int(input("enter given number\n"))
sum=0
for i in range(1,a+1):
    sum=sum+i
print(f"sum of first {a} natural numbers is {sum}")

enter given number
10
sum of first 10 natural numbers is 55

In [11]:
#29 find factorial of given number
a=int(input("enter given number\n"))
fact=1
for i in range(1,a+1):
    fact=fact*i
print(f"factorial of {a} is {fact}")

enter given number
5
factorial of 5 is 120

In [34]:
#30 print star pattern
for i in range(3):
    print("*"*(i+1))

*
**
***

In [25]:
#31 print star pattern
n=10
for i in range(10):
    print(" "*(n-i-1),end="")       # to print space
    print("*"*(2*i+1),end="")       # to print stars
    print(" "*(n-i-1))              # to print space

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [38]:
#32 Multiplication table of given table in reverse order using for loop
a=int(input("please enter number\n"))
for i in range(10,0,-1):
    print(f"{a}×{i}={a*i}")

please enter number
4
4×10=40
4×9=36
4×8=32
4×7=28
4×6=24
4×5=20
4×4=16
4×3=12
4×2=8
4×1=4

In [39]:
#33 star pattern
n=int(input("enter number:"))
print ("*" * n)
c= n-2
for i in range (c):
    print ("*" + " "*c + "*")
print ("*" * n)

enter number:3
***
* *
***

In [21]:
#Functions and recursions
#34 write function to find greatest of three numbers
def max(num1, num2,num3):
    if num1>num2:
        if num1>num3:
            return num1
        else:
            return num3
    else:
        if num2>num3:
            return num2
        else:
            return num3
    
m=max(1000,555,87)
print(f"maximum number is{m}")

maximum number is1000

In [18]:
# 35 celcius to fahrenite conversion 
def farh(cel):
    return (cel* (9/5)) + 32

c=45
f=farh(c)
print(f"conversion of {c} celcius to fahrenite is {f}")

conversion of 45 celcius to fahrenite is 113.0

In [29]:
# 36 sum of first n natural numbers
def sum(n):
    return n*(n+1)/2
a=10
b=sum(a)
print(f"sum of first {a} natural numbers is {b}")

sum of first 10 natural numbers is 55.0

In [36]:
#37 star pattern
n=3
for i in range(n):
    print("*"*(n-i))

***
**
*

In [38]:
# 38 inches to cm
def inch(cm):
    return cm*2.54

a=1
b=inch(a)
print(f"conversion of {a} inch is {b}cm")

conversion of 1 inch is 2.54cm

In [31]:
# file i/o
# 39 write programm which show gien file contain twinkle word or not
with open('C:/Users/FX506LH/Desktop/twinle.txt') as a:
    b=a.read()
if 'twinkle' in b:
    print("twinkle is present")
else:
    print("twinkle is not present")

twinkle is present

In [19]:
#40 define game function and overwrite old score with new one whenever game breaks the hiscore
def game():
    return 70

a=game()
with open('C:/Users/FX506LH/Desktop/hiscore.txt') as b:
    c=b.read()
    
if c=='':
    with open('C:/Users/FX506LH/Desktop/hiscore.txt','w') as b:
        b.write(str(a))
elif int(c)<a:
    with open('C:/Users/FX506LH/Desktop/hiscore.txt','w') as b:
        b.write(str(a))

In [28]:
#41 files of multiplication table from 2 to 10
for i in range(2,11):
    with open(f'C:/Users/FX506LH/Desktop/tables/multiplication_table_of_{i}.txt','w') as a:
        for j in range(1,11):
            a.write(f"{i} x {j} = {i*j} \n")

In [35]:
#42 replace certain word in file by #####
with open('C:/Users/FX506LH/Desktop/ab.txt') as a:
    b=a.read()
    
b=b.replace('pranay','######')

with open('C:/Users/FX506LH/Desktop/ab','w') as a:
    a.write(b)

In [19]:
                                  #oops 
#self
class Employee:
    company="Google"
    
    def getSalary(self):
        print(f"the salary of the employee working in {self.company} is {self.salary}")
        
        
pranay=Employee()
pranay.salary=80000
pranay.getSalary()

the salary of the employee working in Google is 80000

In [18]:

#43 create a class programmer FOR STORING THE INFORMATION of few programmers working at google

class Programmer:
    company = "Google"
    
    def __init__(self,name,subunit,salary):
        self.name=name
        self.subunit=subunit
        self.salary=salary
    
    def getDetails(self):
        print(f"The name of the {self.company} programmer is {self.name} Which is working at subunit {self.subunit} and his salary is {self.salary}")
    
pranay = Programmer("Pranay","YouTube","80k")
roshan = Programmer("Roshan","Google Cloud", 90000)
pranay.getDetails()
roshan.getDetails()

The name of the Google programmer is Pranay Which is working at subunit YouTube and his salary is 80k
The name of the Google programmer is Roshan Which is working at subunit Google Cloud and his salary is 90000

In [27]:
#44 create a class calculator capable of finding square, squareroot,cuberoot
class Calculator:
    def __init__(self,num):
        self.num=num
    
    
    def square(self):
        print(f"The square of {self.num} is {self.num**2}")
    
    def squareroot(self):
        print(f"The square root of {self.num} is {self.num**0.5}")
    
    def cube(self):
        print(f"The square root of {self.num} is {self.num**3}")
              
a=Calculator(25)
a.square()
a.squareroot()
a.cube()

The square of 25 is 625
The square root of 25 is 5.0
The square root of 25 is 15625

In [2]:
#45 add static method to above and greet
class Calculator:
    def __init__(self,num):
        self.num=num
    
    
    def square(self):
        print(f"The square of {self.num} is {self.num**2}")
    
    def squareroot(self):
        print(f"The square root of {self.num} is {self.num**0.5}")
    
    def cube(self):
        print(f"The square root of {self.num} is {self.num**3}")
    
    @staticmethod
    def greet():
        print("welcome to best calculator")
              
a=Calculator(25)
a.greet()
a.square()
a.squareroot()
a.cube()

welcome to best calculator
The square of 25 is 625
The square root of 25 is 5.0
The square root of 25 is 15625

In [30]:
#creating object attribute
class sample:
    a="pranay"
    
obj=sample()
obj.a="roshan"

print(sample.a)
print(obj.a)

pranay
roshan

In [17]:
#46 write class Train having methods of book ticket, get status, get fare information

class Trains:
    def __init__(self,name,seats,ticket):
        self.name=name
        self.ticket=ticket
        self.seats=seats
        
    def getStatus(self):
        print('*************')
        print(f"The name of the train is {self.name}")
        print(f"The seats avaliable in train are {self.seats}")
        print('*************')
    
    def ticketInfo(self):
        print(f"fare of ticket is {self.ticket}")
    
    def bookTicket(self):
        if(self.seats>0):
            print(f"Your seat is booked. Your seat number is {self.seats}")
            self.seats=self.seats-1
        else:
            print('sory! train is full booked')
            
a=Trains("Kokan Kanya Express",1,105)
a.getStatus()
a.bookTicket()
a.bookTicket()
a.getStatus()

*************
The name of the train is Kokan Kanya Express
The seats avaliable in train are 1
*************
Your seat is booked. Your seat number is 1
sory! train is full booked
*************
The name of the train is Kokan Kanya Express
The seats avaliable in train are 0
*************

In [7]:
# single inheritance
class employee:
    company = "Google"
    
    def myDetails(self):
        print(f"employee works here")
        
class work(employee):
    subcompany="youtube"
    
    def mainWork(self):
        print(f"employee works in subcompany {self.subcompany} ")
        
    def mydetails(self):
        print("this is worlds leading softwae company")
        
e=employee()
e.myDetails()
w=work()
w.mydetails()
print(w.company)
w.mainWork()

employee works here
this is worlds leading softwae company
Google
employee works in subcompany youtube

In [12]:
#multiple inheritance
class employee:
    company="google"
    salary=25000

class work:
    subcompany="Youtube"
    salary=30000

class combine(work,employee):
    domain='android'
    
c=combine()

c.salary

30000

In [12]:
10//6

1

In [13]:
10/6

1.6666666666666667

In [15]:
#lambda function
a = lambda x, y : x*y
print(a(5, 10))

50

In [17]:
#swapcase function
string = "GeeksforGeeks"
string.swapcase()

'gEEKSFORgEEKS'

In [18]:
print("List Iteration")
l = ["geeks", "for", "geeks"]
for i in l:
    print(i)

List Iteration
geeks
for
geeks

In [20]:
print("Tuple Iteration")
t = ("geeks", "for", "geeks")
for i in t:
    print(i)

Tuple Iteration
geeks
for
geeks

In [21]:
print("\nString Iteration")   
s = "Geeks"
for i in s :
    print(i)

String Iteration
G
e
e
k
s

In [24]:
a=('praanay','ramesh','shinde')
for i in a:
    print(i)

praanay
ramesh
shinde

In [26]:
#generator function
def a():
    yield 2
    yield 5
    yield 4
    
for value in a():
    print(value)

2
5
4

In [33]:
#polymorphism(many  forms)
#user define polymorphic form
def add(a,b,c=0):
    return a+b+c
print(add(2, 3))
print(add(1,2,3))

5
6

In [38]:
#inbuilt poymorphicform
a="pranay"
b=[1,2,3]
print(len(a))
print(len(b))

6
3

In [57]:
#polymorphism with class methods
class student():
    def name(self):
        print("name is pranay")
    
    def rollno(self):
        print("Roll no. is 1")
              
    def  marks(self):
        print("marks is 91%")
        
class student1():
    def name(self):
        print("name is anay")
    
    def rollno(self):
        print("Roll no. is 2")
              
    def  marks(self):
        print("marks is 92%")
        
a=student()
b=student1()
for i in (a,b):
    i.name()
    i.rollno()
    i.marks()

name is pranay
Roll no. is 1
marks is 91%
name is anay
Roll no. is 2
marks is 92%

In [4]:
#zip function 
name=('pranay','rajashreee','roshan','ramesh','roshani')
rollno=(1,2,3,4,5)
map=zip(name,rollno)

print(set(map))

{('roshani', 5), ('roshan', 3), ('rajashreee', 2), ('ramesh', 4), ('pranay', 1)}

In [6]:
a=['pranay','aai']
b=[1,2]
map=zip(a,b)
print(set(map))

{('pranay', 1), ('aai', 2)}

In [7]:
class student:    
    def __init__(self, name):    
        self.name = name    
    def __init__(self, name, email):    
        self.name = name    
        self.email = email    
         
# This line will generate an error    
#st = student("rahul")    
    
# This line will call the second constructor    
st = student("rahul", "rahul@gmail.com")    
print("Name: ", st.name)  
print("Email id: ", st.email)

Name:  rahul
Email id:  rahul@gmail.com

In [1]:
for i in range(1,50,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [1]:
#nested loops
n = 1
while(n<5):
    i=1
    while(i<5):
        print(i)
        i = i+1
    n=n+1

1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4

In [2]:
i = 1
while(i<=5):
    j=1
    while(j<=i):
        print('*',end='')
        j = j+1
    print()
    i = i+1

*
**
***
****
*****